---
title: Contact
date: 2020-08-05
layout: page
eleventyNavigation:
  key: main
  title: Contact  # as it will appear in the nav
  order: 4        # order to display in the nav
seo:
  title: Contact Us
  description: We'd love to hear from you - how can we help? 
---

The best way to reach us is by email to dhalchemy at craftingdigitalhistory dot ca. 



